<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='{{ url_for("static", filename="css/main.css") }}'>
  <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
  <div>
  <h1>Hoarder</h1>
  <h5>a snippet collector</h5>
  </div>
  {% block body %}{% endblock %}
</body>
<footer>
<a href="https://github.com/Waples/hoarder">Code source can be found here.</a>
</footer>
</html>
