[Unit]
Description=gunicorn server for flask apps (running on port 8000)
After=network.target

[Service]
Type=forking
WorkingDirectory=/home/florian
ExecStart=/home/florian/hoarder/env/bin/gunicorn -w 9 app:app --chdir /home/florian/hoarder/hoarder/
Restart=on-failure
User=florian

[Install]
WantedBy=multi-user.target
